@page "/"
@namespace YourNamespace.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TechStore</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <app>Loading...</app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
